@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --linktext:#E0EAF5;
  --linkhover:#F0F5FA;
  --bghover:#1D3A5D;
  --line:#B1C9E7;

  font-family: 'Satoshi','Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #B1C9E7;
  background-color: #0B1623;

  background: linear-gradient(270deg, #0b1623, #14273e, #14273e, #0b1623);
    background-size: 600% 600%;
    animation: gradient 13s ease infinite;

  max-width: 1280px;
  margin: auto;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: var(--linktext);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    animation: click-me infinite cubic-bezier(0.645, 0.045, 0.355, 1) 3.4s;
}

a:hover {
    padding: 1rem;
    background-color: var(--bghover);
    color: var(--linkhover);
}

@keyframes click-me {
    0%{
        
    }
    50%{
        background-color:#14273e;
    }
    100%{}
}

header {
    display: flex;
    padding: 1rem;
}

header .logo {
    display: flex;
    gap: 0.5rem;
    width: 40%;
}

header .links {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.inline {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.flex-inline{
    display: flex;
    gap: 1rem;
}

.label {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    filter: drop-shadow(0px 0px 5px rgba(240,245,250,0.43));
}

.label.welcome {
    width:100%;
}

.label.welcome h2{
    font-size: 3.5rem;
}

.me img{
    min-width: 240px;
    object-fit: cover;
}

.me a {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.bottom-line {
    border-bottom: 1px var(--line) solid;
}

h3 {
    padding-bottom: 0.5rem;
    line-height: 1.3;
}

figure.spacer {
    padding: 0.3rem;
}

@media screen and (max-width:768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
    }

    header .links {
        width: 100%;
        justify-content: center;
    }

    header .logo {
        width: 100%;
        justify-content: center;
    }

    .flex-inline {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:550px) {
    .inline {
        justify-content: center;
        align-items: center;
    }

    .label.welcome {
        text-align: center;
    }

    p, h3 {
        text-align: center;
    }

    a {
        justify-content: center;
    }
}